<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name='author' content='John Shanley' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/base.css'>
    <title>{{ page.title }}</title>
    <script type='text/javascript' src='http://d3js.org/d3.v2.min.js'></script>
  </head>
  <body>
    <header id='page-header'>
      <h1><a href='/'>{{ page.title }}</a></h1>
    </header>
    <section role='main'>
      {{ content }}
    </section>
    <footer id='page-footer'>
      <p>&copy; John Shanley, 2012</p>
    </footer>
  </body>
</html>
